@model ErrorViewModel
@{
    ViewData["Title"] = @Model?.StrStatus ?? "Error";
}

<h1 class="text-danger">@Model?.StrStatus</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>@Model?.ExceptionMessage</p>

@if (Model?.ShowRequestId == true)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
